{% extends "base.html" %}

{% block title %}Basket{% endblock %}

{% block content %}
    <h1>Ваша корзина</h1>
    {% for item in items %}
        {% for key, value in item.items %}
        <h2>
            <a href="{{ value.url }}">
                {{ value.name }}
            </a>
        </h2>
        <p>Цена: {{ value.price }} Количество: {{ value.quantity }} </p>
        <form action="{% url 'frontend:basket_add' key %}" style="display: inline;">
            {% csrf_token %}
            <button class="basket_add_button">Добавить в корзину</button>
        </form>
        <form action="{% url 'frontend:basket_del' key %}" style="display: inline;">
            {% csrf_token %}
            <button class="basket_del_button">удалить из корзины</button>
        </form>
        {% endfor %}
    {% empty %}
        Ваша корзина пуста
    {% endfor %}
    {% if total_price and total_quantity %}
    <div class="basket_total_values">
        <strong>К оплате: {{ total_price }} рублей за {{ total_quantity }} товаров</strong>

    </div>
    {% include "order/includes/order_post_form.html" %}
    {% endif %}
{% endblock %}