{% extends "base.html" %}

{% block title %}Basket{% endblock %}

{% block content %}
    <h1>Ваша корзина</h1>
    {% for item in items %}
        {% for key, value in item.items %}
        <h2>
            <a href="{{ value.url }}">
                {{ value.name }}
            </a>
        </h2>
        <p>Цена: {{ value.price }} Количество: {{ value.quantity }} </p>
        {% endfor %}
    {% empty %}
        Ваша корзина пуста
    {% endfor %}
    {% if total_price and total_quantity %}
        <strong>К оплате:{{ total_price }} за {{ total_quantity }} товаров</strong>
    {% endif %}
{% endblock %}